<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>python pandas</title>
  </head>
  <body>
    <center><h1>python pandas</h1>
            <p>Mai Rachlevsky, Tina Wong</p>
    </center>
    <h3>What is pandas?</h3>
      <ul>
        <li>Python Data Analysis Library</li>
        <li>Derived from "panel data"</li>
        <li>Created by William McKinney in 2008 and has quickly become one of the most widely used tools for working with data</li>
        <li>Open source</li>
        <li>Used for data analysis and modeling, which is critical in the world of data science</li>
        <li>It is often used alongside other python libraries such as numpy, which helps with calculations, and matplotlib, which can plot data points</li>
      </ul>
    <h3>What can pandas do?</h3>
      <ul>
        <li>Includes data structures to allow you to view data in an organized format, such as a DataFrame and a Series</li>
        <li>Can read data from a variety of formats
          <ul>
            <li>To read from a csv and convert it to a DataFrame, use the method read_csv</li>
          </ul>
        </li>
        <li>Statistics
          <ul>
            <li>It has many functions that are helpful in statistics, such as the mean of all columns, max, min, median, and standard deviation of each column</li>
          </ul>
        </li>
        <li>Data manipulation
          <ul>
            <li>You can select values from a column easily, filter, sort, and group data</li>
            <li>Other functions allow you to clean the data by taking away null values</li>
            <li>There are commands for joining or combining data frames or rows/columns</li>
          </ul>
        </li>
      </ul>
    <h3>What are advantages of using pandas?</h3>
      <ul>
        <li>Efficient representation of data that is easy to read and useful for data analysis</li>
        <li>Simple syntax and flexible</li>
        <li>Able to handle large datasets</li>
        <li>Data filtering and subsetting</li>
      </ul>
    <h3>What are some disadvantages?</h3>
      <ul>
        <li>Not good for arrays that are more than 2 dimensional</li>
        <li>Not good for more complex data modeling</li>
        <li>There are many other tools used for data analysis such as Excel VBA</li>
      </ul>
    <h3>How do you get started?</h3>
      <ul>
        <li>Installed through the terminal by executing the command:
          <ul>
            <li>pip install pandas</li>
          </ul>
        </li>
        <li>Use in a Python file by importing the pandas library
          <ul>
            <li>import pandas as pd</li>
          </ul>
        </li>
      </ul>
    <br>
    <table border="1">
      <tr><th>Series</th><th>DataFrame</th></tr>
      <tr><td>pd.Series(array) [ex: pd.Series([1,2,3,4])]</td><td>pd.DataFrame(array)</td></tr>
      <tr><td>One-dimensional</td><td>Two-dimensional</td></tr>
      <tr><td>Can hold any data type</td><td>Organized in rows and columns; can have more than one column</td></tr>
      <tr><td>Values are mutable</td><td>Each column can have different data types</td></tr>
      <tr><td>Size is immutable</td><td>Size is mutable</td></tr>
    </table>
    <br>
    <hr>
    <br>
    <h3>Example Code</h3>

    <footer>
      For more information, visit the <a href="https://pandas.pydata.org/">documentation</a>.
    </footer>
  </body>
</html>
