<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>python pandas</title>
  </head>
  <body>
    <center><h1>python pandas</h1></center>
    <h3>What is pandas?</h3>
      <ul>
        <li>Python Data Analysis Library</li>
        <li>Derived from "panel data"</li>
        <li>Created by William McKinney in 2008</li>
        <li>Open source</li>
        <li>Used for data analysis and modeling</li>
      </ul>
    <h3>What can pandas do?</h3>
      <ul>
        <li>Includes data structures</li>
        <li>Can read data from a variety of formats
          <ul>
            <li>To read from a csv and convert it to a DataFrame, use the method read_csv</li>
          </ul>
        </li>
        <li>Statistics</li>
        <li>Data manipulation</li>
      </ul>
    <h3>What are advantages of using pandas?</h3>
      <ul>
        <li>Efficient representation of data that is easy to read and useful for data analysis</li>
        <li>Simple syntax and flexible</li>
        <li>Able to handle large datasets</li>
        <li>Data filtering and subsetting</li>
      </ul>
    <h3>What are some disadvantages?</h3>
      <ul>
        <li>Not good for arrays that are more than 2 dimensional</li>
        <li>Not good for more complex data modeling</li>
        <li>There are many other tools used for data analysis such as Excel VBA</li>
      </ul>
    <h3>How do you get started?</h3>
      <ul>
        <li>Installed through the terminal by executing the command:
          <ul>
            <li>pip install pandas</li>
          </ul>
        </li>
        <li>Use in a Python file by importing the pandas library
          <ul>
            <li>import pandas as pd</li>
          </ul>
        </li>
      </ul>
    <footer>
      For more information, visit the <a href="https://pandas.pydata.org/">documentation</a>.
    </footer>
  </body>
</html>
