<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>python pandas</title>
  </head>
  <body>
    <center><h1>python pandas</h1>
            <p>Mai Rachlevsky, Tina Wong</p>
    </center>
    <main class="container">
    <h3>What is pandas?</h3>
      <ul>
        <li>Python Data Analysis Library</li>
        <li>Derived from "panel data"</li>
        <li>Created by William McKinney in 2008 and has quickly become one of the most widely used tools for working with data</li>
        <li>Open source</li>
        <li>Used for data analysis and modeling, which is critical in the world of data science</li>
        <li>It is often used alongside other python libraries such as numpy, which helps with calculations, and matplotlib, which can plot data points</li>
      </ul>
    <h3>What can pandas do?</h3>
      <ul>
        <li>Includes data structures to allow you to view data in an organized format, such as a DataFrame and a Series</li>
        <li>Can read data from a variety of formats
          <ul>
            <li>To read from a csv and convert it to a DataFrame, use the method read_csv</li>
          </ul>
        </li>
        <li>Statistics
          <ul>
            <li>It has many functions that are helpful in statistics, such as the mean of all columns, max, min, median, and standard deviation of each column</li>
          </ul>
        </li>
        <li>Data manipulation
          <ul>
            <li>You can select values from a column easily, filter, sort, and group data</li>
            <li>Other functions allow you to clean the data by taking away null values</li>
            <li>There are commands for joining or combining data frames or rows/columns</li>
          </ul>
        </li>
      </ul>
    <h3>What are advantages of using pandas?</h3>
      <ul>
        <li>Efficient representation of data that is easy to read and useful for data analysis</li>
        <li>Simple syntax and flexible</li>
        <li>Able to handle large datasets</li>
        <li>Data filtering and subsetting</li>
      </ul>
    <h3>What are some disadvantages?</h3>
      <ul>
        <li>Not good for arrays that are more than 2 dimensional</li>
        <li>Not good for more complex data modeling</li>
        <li>There are many other tools used for data analysis such as Excel VBA</li>
      </ul>
    <h3>How do you get started?</h3>
      <ul>
        <li>Installed through the terminal by executing the command:
          <ul>
            <li><code>pip install pandas</code></li>
          </ul>
        </li>
        <li>Use in a Python file by importing the pandas library
          <ul>
            <li><code>import pandas as pd</code></li>
          </ul>
        </li>
        <li>One useful tool you can use to clearly and cleanly visualize your data and pandas at work is Jupyter Notebook. pandas does work with regular python files, however, and will display in the terminal.</li>
      </ul>
    <h3>Series and DataFrames</h3>
    <table border="1">
      <tr><th>Series</th><th>DataFrame</th></tr>
      <tr><td>pd.Series(array) [ex: pd.Series([1,2,3,4])]</td><td>pd.DataFrame(array)</td></tr>
      <tr><td>One-dimensional</td><td>Two-dimensional</td></tr>
      <tr><td>Can hold any data type</td><td>Organized in rows and columns; can have more than one column</td></tr>
      <tr><td>Values are mutable</td><td>Each column can have different data types</td></tr>
      <tr><td>Size is immutable</td><td>Size is mutable</td></tr>
    </table>
    <br>
    <hr>
    <h2><center>Example Code</center></h2>
    <h3>Create a Series</h3>
    <p>Using an example one-dimensional array <code>[1, 2, 3, 4]</code> and the syntax below, pandas can create a series: <br>
    <code>
      your_series = pd.Series([1,2,3,4]) <br>
      print(your_series)
    </code></p>
    <button class="btn btn-info btn-sm" id="0" onclick="toggle('series', '0')">Show Result</button>
    <div id="series" style="display: none;">{{ series | safe}}</div>
    <div style="height: 10px;"></div>
    <h3>Create a DataFrame</h3>
    <p>Using the syntax below, pandas can create a DataFrame with four columns and four rows consisting of different types: <br>
    <code>
      df = pd.DataFrame({ <br>
    "Integers": [1, 23, 456, 7890], <br>
    "Strings": ['hello', 'pandas', 'world', '!'], <br>
    "Floats": [1.23, 23.5, 45.6, 7.890], <br>
    "Booleans": [True, False, True, False] <br>
    }) <br>
    print(df)
    </code>
    </p>
    <button class="btn btn-info btn-sm" id="1" onclick="toggle('df', '1')">Show Result</button>
    <div id="df" style="display: none;">{{ data | safe}}</div>
    <div style="height: 10px;"></div>
    <h3>Get a Column from a DataFrame</h3>
    <code>
      print(df["Integers"])
    </code>
    <br><br>
    <button class="btn btn-info btn-sm" id="2" onclick="toggle('int', '2')">Show Result</button>
    <div id="int" style="display: none;">{{ integers | safe}}</div>
    <div style="height: 10px;"></div>
    <h3>Get Multiple Columns from a DataFrame</h3>
    <p><code>
      print(df[["Integers","Strings"]])
    </code></p>
    <button class="btn btn-info btn-sm" id="3" onclick="toggle('two', '3')">Show Result</button>
    <div id="two" style="display: none;">{{ two_columns | safe}}</div>
    <div style="height: 10px;"></div>
    <h3>Get Statistics from a DataFrame</h3>
    <p>There are many statistics that you can request from each column of a DataFrame, including the ones listed below. <br> To query one specific statistic, such as the mean of the column Integers, use <code>df["Integers"].mean()</code>.<br>
    There will be other examples of statistics you can query below with the DataFrame derived from a csv.</p>
    <button class="btn btn-info btn-sm" id="4" onclick="toggle('stat', '4')">Show Result</button>
    <div id="stat" style="display: none;">{{ stat | safe}}</div>
    <div style="height: 10px;"></div>
    <h3>Create a DataFrame with Existing list</h3>
    <code>
      your_list = [4, 'softdev', 12.5, False] <br>
      list_df = pd.DataFrame([your_list], columns=['Integers', 'Strings', 'Floats', 'Booleans']) <br>
      print(list_df)
    </code>
    <br><br>
    <button class="btn btn-info btn-sm" id="5" onclick="toggle('list', '5')">Show Result</button>
    <div id="list" style="display: none;">{{ list_df | safe}}</div>
    <div style="height: 10px;"></div>
    <p>Once you create a DataFrame, the DataFrame is still mutable, so you can append one DataFrame to another.<br><code>
      df = df.append(list_df, ignore_index=True)<br>
      print(df)
    </code></p>
    <button class="btn btn-info btn-sm" id="6" onclick="toggle('append', '6')">Show Result</button>
    <div id="append" style="display: none;">{{ new_df | safe}}</div>
    <div style="height: 10px;"></div>
    <h3>Create a DataFrame with Existing csv</h3>
    <p>Using any csv file you have, you can convert it to a DataFrame. <code>.head(n)</code> will show the first n rows of the DataFrame. If <code>.head()</code> gets no arguments, the default rows shown will be 5.<br><code>
      csv_path = os.path.join('uscities.csv') <br>
      csv_df = pd.read_csv(csv_path, delimiter=",") <br>
      print(csv_df.head(10))
    </code></p>
    <button class="btn btn-info btn-sm" id="7" onclick="toggle('head', '7')">Show Result</button>
    <div id="head" style="display: none;">{{ head | safe}}</div>
    <div style="height: 10px;"></div>
    <p><code>.shape</code> shows the number of rows and the number of columns the DataFrame has. <br><code>print(csv_df.shape)</code></p>
    <button class="btn btn-info btn-sm" id="8" onclick="toggle('shape', '8')">Show Result</button>
    <div id="shape" style="display: none;">{{ shape }}</div>
    <div style="height: 10px;"></div>
    <p><code>.tail()</code> works like <code>.head()</code> does, except that it shows the last n rows.<br><code>
      tail = csv_df.tail()
      <br>
      print(tail)
    </code></p>
    <button class="btn btn-info btn-sm" id="9" onclick="toggle('tail', '9')">Show Result</button>
    <div id="tail" style="display: none;">{{ tail | safe }}</div>
    <div style="height: 10px;"></div>
    <p><code>.sample(n)</code> will show you n random rows from the DataFrame.<br><code>
      print(csv_df.sample(3))
    </code></p>
    <button class="btn btn-info btn-sm" id="13" onclick="toggle('samp', '13')">Show Result</button>
    <div id="samp" style="display: none;">{{ sample | safe }}</div>
    <div style="height: 10px;"></div>
    <h3>Get More Statistics from a DataFrame</h3>
    <p><code>
      print(csv_df.max())
    </code></p>
    <button class="btn btn-info btn-sm" id="10" onclick="toggle('max', '10')">Show Result</button>
    <div id="max" style="display: none;">{{ max | safe }}</div>
    <div style="height: 10px;"></div>
    <p><code>
      print(csv_df.min())
    </code></p>
    <button class="btn btn-info btn-sm" id="11" onclick="toggle('min', '11')">Show Result</button>
    <div id="min" style="display: none;">{{ min | safe }}</div>
    <div style="height: 10px;"></div>
    <p><code>
      print(csv_df.median())
    </code></p>
    <button class="btn btn-info btn-sm" id="12" onclick="toggle('median', '12')">Show Result</button>
    <div id="median" style="display: none;">{{ median | safe }}</div>
    <div style="height: 10px;"></div>
    <h3>Sort Values From a DataFrame</h3>
    <p><code>
      csv_df.sort_values('density') # ascending order
    </code>
    </p>
    <button class="btn btn-info btn-sm" id="14" onclick="toggle('asc', '14')">Show Result</button>
    <div id="asc" style="display: none;">{{ asc | safe }}</div>
    <div style="height: 10px;"></div>
    <p><code>
      csv_df.sort_values('density', ascending=False) # descending order
    </code></p>
    <button class="btn btn-info btn-sm" id="15" onclick="toggle('dec', '15')">Show Result</button>
    <div id="dec" style="display: none;">{{ dec | safe }}</div>
    <div style="height: 10px;"></div>
    <p><code>.dropna()</code> allows you to drop any row with null values in them, which clears the DataFrame of any outliers affecting statistical values and focuses you on the meaningful data values. As you can see from the shape of the DataFrame after you run this command, there are less rows.<br><code>
      csv_df.dropna()<br>
      print(csv_df.shape)
    </code></p>
    <button class="btn btn-info btn-sm" id="16" onclick="toggle('new_shape', '16')">Show Result</button>
    <div id="new_shape" style="display: none;">{{ new_shape }}</div>
    <div style="height: 10px;"></div>
    <p>Show only the first 10 rows where the latitute of the city is greater than 45 degrees.<br><code>
      print(csv_df[csv_df['lat'] > 45].head(10))
    </code></p>
    <button class="btn btn-info btn-sm" id="17" onclick="toggle('lat', '17')">Show Result</button>
    <div id="lat" style="display: none;">{{ lat | safe }}</div>
    <div style="height: 10px;"></div>
    <p>Show the name of the city and the state where the state that the city belongs to is New York. Only the first 20 results should be displayed.<br><code>
      print(csv_df[['city','state_id']].query('state_id == "NY"').head(20))
    </code></p>
    <button class="btn btn-info btn-sm" id="18" onclick="toggle('ny', '18')">Show Result</button>
    <div id="ny" style="display: none;">{{ ny | safe }}</div>
    </main>
    <hr>
    <footer class="page-footer font-small blue pt-4">
		    <div class="footer-copyright text-center py-3">
      For more information on this python library, visit the <a href="https://pandas.pydata.org/">documentation</a>.</div>
    </footer>
  </body>
  <script type="text/javascript">
    function toggle(id, bid) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
        document.getElementById(bid).innerHTML = "Hide Result";
      } else {
        x.style.display = "none";
        document.getElementById(bid).innerHTML = "Show Result";
      }
    }
  </script>
</html>
